<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstBlood | Careers</title>
    <meta name="description" content="A platform that lets eSports players challenge the field and win rewards.Made possible by smart contracts and oracles in the blockchain." />
    <meta name="keywords" content="Tournaments, FirstBlood, First Blood, cryptocurrency, ethereum, ether, rewards, competition, eSports, League of Legends, Play eSports, Call of Duty, FIFA, Hearthstone" />

    <!-- Bootstrap css -->
    <link href="/resources/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- FirstBlood main.home css -->
    <link href="/resources/css/main-career.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="resources/img/main/logo_shield.png" data-active-url="resources/img/main/logo-active.png" alt="" width = "10%"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-mid main-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#info">Read More</a></li>
          <li><a href='https://community.firstblood.io'>Forum</a></li>
          <li><a href = "https://goo.gl/xxm5Bm"><i class="fa fa-file-text-o" aria-hidden="true"></i> White Paper</a></li>
          <li><a href = "http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
        </ul>
        <!-- <div class = "language-wrap">
          <li><div class="language-selector first" ng-click="changeLanguage('en')"><img src="/resources/img/main/us.svg" class="language-flag" /> EN</div></li>
          <li><div class="language-selector" ng-click="changeLanguage('cn')"><img src="/resources/img/main/cn.svg" class="language-flag" /> 中文</div></li>
        </div> -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header id = "career-header">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class = "caption">CREATE THE PLATFORM <br/>INSPIRES GAMERS </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id = "selector">
    <div class="container">
      <div class="table">
        <div class="row">
          <a href = "../about" class="col-md-1 col-sm-1 col-md-offset-4 col-sm-offset-4 selector-item">About</a>
          <a href = "../career" class="col-md-1 col-sm-1 selector-item active">Careers</a>
          <a href = "../press" class="col-md-1 col-sm-1 selector-item">Press</a>
          <a href = "../media" class="col-md-1 col-sm-1 selector-item">Media</a>
        </div>
      </div>
    </div>
  </section>

  <section id = "career-content">
    <div class="container">
      <div class="table">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class = "career-content-left">
              <p class = "sub-title">CAREERS</p>
              <p>How does building the future of gaming and competitive eSports sound? Liking it so far? Are you a hardcore gamer and passionate about what you play? Are you passionate about digital currency? If so, you've found the right place.
                We're a team of builders - engineers, gamers, and entrepreneurs - who love what we do.
              </p>
              <p class = "sub-title">BENEFITS</p>
              <p>
                <ul>
                  <li>Be a Part of Shaping the future of eSports industry</li>
                  <li>Flexible Vacation Policy</li>
                  <li>Paid Maternity/Paternity Leave</li>
                  <li>Excellent Health Insurance & Dental Plan</li>
                  <li>New Laptop</li>
                  <li>Gym Membership</li>
                  <li>Annual Book Credit</li>
                  <li>YOU GET TO PLAY VIDEO GAMES AT WORK!</li>
                </ul>
              </p>
              <p class = "sub-title">APPLY</p>
              <p>Email your CV/Resume, Linkedin and Github (if applicable) profiles to <b/>
              <a href="mailto:careers@firstblood.io" class = "mailto">careers@firstblood.io</a></p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class = "career-content-right">
                <p class = "sub-title">OPENNINGS</p>
                <a class = "job-title">Software Engineer (front-end)</a>
                <p class = "job-title-sub">Familiar with Angular2, javascript, node, html5, css, lass, photoshop, illustrator</p>
                <a class = "job-title">UI/UX Designer</a>
                <p class = "job-title-sub">Familiar with mobile ready web design</p>
                <a class = "job-title">Director of Marketing</a>
                <p class = "job-title-sub">5+ yrs of startup marketing experience, familiar with user acquisition strategies</p>
                <a class = "job-title">Software Engineer (spring intern)</a>
                <p class = "job-title-sub">Familiar with real-time application stack, knowledge of javascript, Node.js, python</p>
                <a class = "job-title">Software Engineer (spring intern)</a>
                <p class = "job-title-sub">Familiar with real-time application stack, knowledge of javascript, Node.js, python</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <hr>

 <!-- Footer starts here -->
 <footer class="page-footer center-on-small-only primary-color-dark text-center-mobile">

     <!--Footer Links-->
     <div class="container">
         <div class="row">

           <!--First column-->
           <div class="col-md-3 col-sm-3 col-md-offset-1 text-center-mobile">
               <!-- <h5 class="title" > -->
                <img src = "/resources/img/main/logo_shield_b.jpg" width="55%" height="auto">
                <p><a href="mailto:team@firstblood.io" class = "mailto">team@firstblood.io</a></p>
               <!-- <p>team@firstblood.io</p> -->
           </div>
           <!--/.First column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Second column-->
           <div class="col-md-2 col-sm-2 col-md-offset-1 text-center-mobile" style = "text-align:left">
               <h5 class="title" >Company</h5>
               <ul>
                 <li><a href="/about" target='_self'>About us</a></li>
                 <li><a href="/careers" target='_self'>Careers</a></li>
                 <li><a href="/press" target='_self'>Press</a></li>
                 <li><a href='https://blog.firstblood.io' target ='_self'>Blog</a></li>
                 <!-- <li><a href="/legal" target='_self'> Site Terms </a></li> -->
                 <li><a href="/legal" target='_self'>Legal &amp; Policy</a></li>
               </ul>
           </div>
           <!--/.Second column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Third column-->
           <div class="col-md-2 col-sm-2 text-center-mobile" style = "text-align:left">
               <h5 class="title" >Resources</h5>
               <ul>
                   <li><a href="/faq" target ='_blank'>FAQ</a></li>
                   <!-- <li><a href='/roadmap' target='_self'>{{ 'ROADMAP' | translate}}</a></li> -->
                   <li><a target ='_blank' href="https://goo.gl/xxm5Bm">White Paper</a></li>
                   <li><a target ='_blank' href="https://github.com/Firstbloodio/brand_assets">Brand Assets</a></li>
                   <li><a href="" target='_self' style = "border-bottom:1px dashed #ff9900">Crowdsale</a></li>
               </ul>
           </div>

           <!--Fourth column-->
           <div class="col-md-2 col-sm-2 text-center-mobile" style = "text-align:left">
               <h5 class="title" >Social</h5>
               <ul>
                   <li><a target ='_blank' href="http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
                   <li><a target ='_blank' href="https://github.com/firstbloodio"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
                   <li><a target ='_blank' href="https://facebook.com/firstbloodio"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                   <li><a target ='_blank' href="https://community.firstblood.io"><i class="fa fa-comments" aria-hidden="true"></i> Forum</a></li>
                   <li><a target ='_blank' href="https://www.linkedin.com/company/10839777"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                   <li><a target ='_blank' href="https://twitter.com/firstbloodio"><i class="fa fa-twitter-square"></i> Twitter</a></li>
               </ul>
           </div>
           <!--/.Fourth column-->

         </div>
     </div>
     <!--/.Footer Links-->
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-12">
          <p>&copy; 2016 All Rights Reserved <a href="https://firstblood.io">FirstBlood.io</a></p>
        </div>
      </div>
    </div>
  </footer>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/resources/js/jquery-1.11.1.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/resources/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <!-- jQuery translate -->
  <script src="/resources/js/jquery.translate.js"></script>
  <!-- Translations -->
  <script src="/resources/js/app/translations.js"></script>
</body>

</html>
