<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstBlood - Play eSports, win rewards</title>
    <meta name="description" content="A platform that lets eSports players challenge the field and win rewards.Made possible by smart contracts and oracles in the blockchain." />
    <meta name="keywords" content="Tournaments, FirstBlood, First Blood, cryptocurrency, ethereum, ether, rewards, competition, eSports, League of Legends, Play eSports, Call of Duty, FIFA, Hearthstone" />

    <!-- Bootstrap css -->
    <link href="resources/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- FirstBlood main.home css -->
    <link href="resources/css/main-home.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="resources/img/main/logo_shield.png" data-active-url="resources/img/main/logo-active.png" alt="" width = "10%"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-mid main-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#info">Read More</a></li>
          <li><a href='https://community.firstblood.io'>Forum</a></li>
          <li><a href = "https://goo.gl/xxm5Bm"><i class="fa fa-file-text-o" aria-hidden="true"></i> White Paper</a></li>
          <li><a href = "http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
        </ul>
        <!-- <div class = "language-wrap">
          <li><div class="language-selector first" ng-click="changeLanguage('en')"><img src="/resources/img/main/us.svg" class="language-flag" /> EN</div></li>
          <li><div class="language-selector" ng-click="changeLanguage('cn')"><img src="/resources/img/main/cn.svg" class="language-flag" /> 中文</div></li>
        </div> -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="resources/img/main/logo_shield.png" data-active-url="resources/img/main/logo-active.png" alt="" width = "10%"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-mid main-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href='https://community.firstblood.io'>Forum</a></li>
          <li><a href = "https://goo.gl/xxm5Bm"><i class="fa fa-file-text-o" aria-hidden="true"></i> White Paper</a></li>
          <li><a href = "http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a></li>
        </ul>
        <!-- <div class = "language-wrap">
          <li><div class="language-selector first" ng-click="changeLanguage('en')"><img src="/resources/img/main/us.svg" class="language-flag" /> EN</div></li>
          <li><div class="language-selector" ng-click="changeLanguage('cn')"><img src="/resources/img/main/cn.svg" class="language-flag" /> 中文</div></li>
        </div> -->
      </div>
    <!-- /.container-fluid -->
  </nav>
  <header id = "home">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class = "caption">Play eSports, <orange>Win rewards</orange></h1>
            </div>
            <div class="col-md-12 text-center" style = "margin-top:5px;">
              <a class="btn btn-warning video-btn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> What is FirstBlood?</a>
              <a class="btn btn-warning alpha-btn"><i class="fa fa-youtube-play" aria-hidden="true"></i> Get Invitation</a>
            </div>
          </div>
        </div>
        <div class="header-demo">
          <img src="resources/img/main/alpha-demo.png" width="65%">
        </div>
      </div>
    </div>
  </header>

  <section id = "intro">
      <div class="container">
        <div class="table">
          <div class="row">
            <div class = "col-md-12 text-center">
              <h2 class = "intro-slogan">Your <orange>Gateway</orange> To</br> <red>Competitive</red> eSports</h2>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-12 text-center">
               <p class = "intro-title">How it works?</p>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/game-icon.png" ><br/>
              <p class = "icon-text">Select the game <br />and stakes</p>
              <p>Players select the games <br />they want to play and <br />the stakes they want to play with</p>
            </div>
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/opponent-icon.png" ><br/>
              <p class = "icon-text">Find <br />Opponents</p>
              <p>Player may invite or wait <br />for someone to join the game, <br />or use a matchmaker to find an opponent.</p>
            </div>
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/rewards-icon.png" ><br/>
              <p class = "icon-text">Play games <br />and win rewards</p>
              <p>Game finishes, Witnesses fetch  <br />result (firstblood, turret, winner, etc.),  <br />smart contract processes reward.</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id = "media">
    <div class="container">
      <div class="table">
        <div class="row">
          <div class = "col-md-3 text-center">
            <a href = "http://themerkle.com/ethereum-based-esports-platform-firstblood-raises-us5-5m-in-mere-minutes/"><img src = "resources/img/main/themerkle.png"></img></a>
          </div>
          <div class = "col-md-3 text-center">
            <a href = "https://news.bitcoin.com/esports-firstblood-raises-5-5m/"><img src = "resources/img/main/bitcoin_logo.png"></img></a>
          </div>
          <div class = "col-md-3 text-center">
            <a href = "http://venturebeat.com/2016/09/27/blockchain-fundings-heat-up-5-million-in-5-minutes/"><img src = "resources/img/main/logo_venturebeat.png"></img></a>
          </div>
          <div class = "col-md-3 text-center">
            <a href = "http://www.financemagnates.com/cryptocurrency/trading/ethereum-esports-rewards-platform-firstblood-raises-6m-in-crowdsale/"><img src = "resources/img/main/financemagnates.png" style="margin-top:-10px;"></img></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id = "info">
      <div class="container">
        <div class="table">
          <div class="row">
            <div class = "col-md-12 text-center">
              <h2 class = "intro-slogan">More About </br> <orange>FirstBlood</orange></h2>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/whitepaper-icon.png" ><br />
              <p class = "icon-text">Download <br />White Paper</p>
              <p> A platform that lets eSports players challenge<br /> each other in the field and win rewards.</p>
              <a href = "https://goo.gl/xxm5Bm" class = "btn grey-button">Download</a>
            </div>
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/winning-icon.png" ><br />
              <p class = "icon-text">Automatically <br />Verified And Send</p>
              <p> Made possible by smart contracts <br />and oracles in the blockchain.</p>
              <a href = "https://etherscan.io/token/firstblood" class = "btn grey-button">Contract Explorer</a>
            </div>
            <div class = "col-md-4 col-sm-4 text-center">
              <img src = "resources/img/main/token-icon.png" ><br />
              <p class = "icon-text">FirstBlood<br />Platform Tokens</p>
              <p> FirstBlood concluded its <br />crowdsale on 09/26/2016</p>
              <a href = "https://firstblood.io/sale/index.html" class = "btn grey-button">View Result</a>
            </div>
          </div>
        </div>
      </div>
  </section>
  <hr>
 <section id = "mission">
     <div class="container">
       <div class="table">
         <div class="row">
           <div class = "col-md-12 text-center">
             <h2 class = "intro-slogan">Our Mission</h2>
             <p style = "font-size:20px;margin:-20px 0px 20px 0px;">Building a decentralized eSports rewarding <br />platform that every gamer loves</p>
           </div>
         </div>
         <div class="row">
           <div class = "col-md-12 text-center">
             <img src = "resources/img/main/diagram-graph.png" ><br />
           </div>
         </div>
       </div>
     </div>
 </section>
 <hr>
 <section id = "news">
     <div class="container">
       <div class="table">
         <div class="row">
           <div class = "col-md-12 text-center">
              <p class = "intro-title">News & Update</p>
           </div>
           <div class="row news-wrapper">
             <div class = "col-md-4 col-sm-4 text-center">
               <img src = "https://img1.steemit.com/0x0/http://i.imgur.com/S1Z5dTa.png" ><br />
               <a href = "https://steemit.com/firstblood/@jasonmcz/firstblood-the-esports-rewards-platform-built-on-ethereum-gets-down-to-business-with-white-paper-release"
               class = "news-text">FirstBlood, the eSports Rewards <br/>Platform Built on Ethereum</a>
               <p> FirstBlood, the eSports Rewards Platform Built on Ethereum, Gets Down to Business with White Paper Release</p>
             </div>
             <div class = "col-md-4 col-sm-4 text-center">
               <img src = "https://community.firstblood.io/uploads/default/optimized/1X/d4996663b745cb2878cab4d085469d0aa00567d2_1_690x389.png" ><br />
               <a href = "https://community.firstblood.io/t/firstblood-presented-at-ethereum-meetup-in-hongkong/85"
               class = "news-text">FirstBlood presented its plan <br />to bring blockchain to gaming</a>
               <p> FirstBlood Presented Its Plan to Bring Blockchain Technology to eSports at HongKong Ethereum Meetup</p>
             </div>
             <div class = "col-md-4 col-sm-4 text-center">
               <img src = "resources/img/main/coverphoto.png" ><br />
               <a href = "https://community.firstblood.io/t/ask-us-anything-november-9th-8-10pm-est/260"
               class = "news-text">FirstBlood to Host its 1st Community AMA on 11/09/2016</a>
               <p>We've been a little quiet since the presale, lots of internal business to take care of, but we've been paying really close attention and ...</p>
             </div>
           </div>
         </div>
       </div>
     </div>
 </section>
 <hr>
 <!-- Footer starts here -->
 <footer class="page-footer center-on-small-only primary-color-dark text-center-mobile">

     <!--Footer Links-->
     <div class="container">
         <div class="row">

             <!--First column-->
             <div class="col-md-3 col-sm-3 col-md-offset-1 text-center-mobile">
                 <!-- <h5 class="title" > -->
                  <img src = "resources/img/main/logo_shield_b.jpg" width="55%" height="auto">
                  <p>
                  <a href="mailto:team@firstblood.io" class = "mailto">team@firstblood.io</a></p>
                 <!-- <p>team@firstblood.io</p> -->
             </div>
             <!--/.First column-->

             <!-- <hr class="hidden-md-up"> -->

             <!--Second column-->
             <div class="col-md-2 col-sm-2 col-md-offset-1 text-center-mobile" style = "text-align:left">
                 <h5 class="title" >Information Decks</h5>
                 <ul>
                     <li><a href="https://docsend.com/view/fzpxk6y">English(EN）</a></li>
                     <li><a href="https://docsend.com/view/c3ugk3w">中文版本(CN）</a></li>
                     <li><a href="https://docsend.com/view/42rhz52">русский(RU)</a></li>
                     <li><a href="https://docsend.com/view/6gevrmb">한국어(KR)</a></li>
                 </ul>
             </div>
             <!--/.Second column-->

             <!-- <hr class="hidden-md-up"> -->

             <!--Third column-->
             <div class="col-md-2 col-sm-2 text-center-mobile" style = "text-align:left">
                 <h5 class="title" >Resources</h5>
                 <ul>
                     <li><a href="/faq" target ='_blank'> FAQ </a></li>
                     <li><a href='/blog' target ='_self'> BLOG </a></li>
                     <!-- <li><a href='/roadmap' target='_self'>{{ 'ROADMAP' | translate}}</a></li> -->
                     <li><a href="https://goo.gl/xxm5Bm"> WHITE_PAPER </a></li>
                     <li><a href="https://github.com/Firstbloodio/brand_assets">Brand Assets</a></li>
                     <li><a href="{{ 'CROWDSALE_LINK' | translate }}" target='_self' style = "border-bottom:1px dashed #ff9900"> CROWDSALE  </a></li>
                     <li><a href="/legal" target='_self'> TERMS </a></li>
                     <li><a href="/legal" target='_self'> PRIVACY </a></li>
                 </ul>
             </div>
             <!--/.Thir

             <!-- <hr class="hidden-md-up"> -->

             <!--Fourth column-->
             <div class="col-md-2 col-sm-2 text-center-mobile" style = "text-align:left">
                 <h5 class="title" >Contact us</h5>
                 <ul>
                     <li><a href="http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join SLACK </a></li>
                     <li><a href="https://github.com/firstbloodio"><i class="fa fa-github" aria-hidden="true"></i>Github</a></li>
                     <li><a href="https://facebook.com/firstbloodio"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                     <li><a href="https://community.firstblood.io"><i class="fa fa-comments" aria-hidden="true"></i> FORUM </a></li>
                     <li><a href="https://www.linkedin.com/company/10839777"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                     <li><a href="https://twitter.com/firstbloodio"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                 </ul>
             </div>
             <!--/.Fourth column-->

         </div>
     </div>
     <!--/.Footer Links-->
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-12">
          <p>&copy; 2016 All Rights Reserved <a href="https://firstblood.io">FirstBlood.io</a></p>
        </div>
        <!-- <div class="col-sm-12 text-center-mobile">
          <ul class="social-footer">
            <li><a href="http://slack.firstblood.io/"><i class="fa fa-slack"> Slack</i></a></li>
            <li><a href="http://tinyurl.com/firstblood-forum"><i class="fa fa-users" aria-hidden="true"></i> Forum</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="resources/js/bootstrap.min.js"></script>
</body>

</html>
