/*main-career, responsible for /career/index.html*/
/*@Import fonts using @import*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,400');

/*Bootstrap Inheritage Custimized*/

.container {
  /*padding-left: 30px !important;*/
  /*padding-right: 30px !important;*/
}

section {
    position: relative;
}
.section {
    padding: 40px 0;
    background: #000000;
}
.section-padded {
    padding: 100px 0 40px;
}

a:hover {
  text-decoration: none !important;
}


/*Font Helper Class ( Helper )*/

.sub-title {
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
  padding-top:50px;
}

/*Color Helper Class ( Helper )*/

orange {
  color: #ff9900;
}

red {
  color: #C72728;
}


/*Position Helper Class ( Helper )*/

.max-height-50 {
  height: 50px;
  max-height:50px;
}

.max-height-100 {
  height: 100px;
  max-height:100px;
}

.max-height-150 {
  height: 150px;
  max-height:150px;
}

/*Body Section ( Body )*/

body {
  font-family: 'Raleway' ,'Roboto', sans-serif, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #2a3237;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding: 0px 25px 0px 25px;*/
}

/*Header Section ( Header )*/
header {
    position: relative;
    width: 100%;
    height:350px;
    display: block;
    color: white;
    background: linear-gradient(
      rgba(0, 0, 0, 0.50),
      /*rgba(255, 153, 0, 0.70)*/
      rgba(0, 0, 0, 1)
    ),
    url('../img/main/career-photo.jpg');
    background-size: cover;
    border-bottom: 6px solid #ff9900;
}

header .table {
    display: table;
    height: 100%;
    padding-top: 170px;
}
header .container {
    height: 100%;
}
header .header-text {
    display: block;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 30%;
}

header .header-career{
  vertical-align: bottom;
  display: block;
  text-align: center;
  height: 70%;
}

header .header-career img{
  vertical-align: bottom;
}

/* Page caption ( Caption )*/
header .caption {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  /*margin-top:-170px;*/
  text-shadow: 1px 1px 1px #000;

}


/* Navigation Bar ( Navbar )*/
nav.navbar {
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.55);
}

nav.navbar ul{
  display: inline-block !important;
  list-style-type: none;
}

nav.navbar li a {
    padding: 18px !important;
    font-weight: 700;
    text-transform: uppercase !important;
    color: #ffffff
}
nav.navbar li a:hover {
    color: #ff9900 !important;
    background: transparent;
}
nav.navbar .navbar-nav li.active a:not(.btn) {
    color: #ff9900 !important;
}
nav.navbar-fixed-top {
    z-index: 9499;
    top: 0;
    padding: 25px 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
nav.navbar-fixed-top .navbar-nav> li> a:not(.btn) {
    color: #bbb;
}

nav.navbar-brand img {
  width:10% !important;
}


nav.navbar .navbar-nav {
  float:none !important;
  text-align: center !important;
}

.navbar-collapse{
  text-align: center !important;
}

.icon-bar {
    background: #bbb;
}

.language-wrap {
  float:right;
}

.language-flag {
    height: 22.5px;
}
.language-selector {
    margin-left: 0px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}
.first {
    margin-right: -25px;
}
.language-selector:hover {
    cursor: pointer;
    cursor: hand;
}


/*Selector Secition ( Selector)*/
#selector {
  height:50px;
  border-bottom: 1px solid #CECECE;
  text-align: center;
  vertical-align: middle;
  color: #999999;
  font-weight: 700;
  text-transform: uppercase;
}


#selector .selector-item {
  height: 50px;
  padding: 15px;
}

#selector .selector-item:hover,
.selector-item:active{
  border-bottom:2px solid #000;
  cursor: pointer;
  color:#000;
}

#selector .active{
  border-bottom:2px solid #000;
  cursor: pointer;
  color:#000;
}

#selector a{
  color:#666C6F;
}

/*Career-Content Section ( Career-Content )*/

#career-content .career-content-left{
  width:100% !important;
  padding-top:5px;
  padding-right:10% !important;
  /*border-right: 1px dashed #CECECE;*/
  /*border-radius: 50px;*/
}

#career-content .career-content-right{
  width:100% !important;
  padding-top:5px;
  padding-left:10% !important;
}

#career-content .job-title {
  font-size: 1.2em;
}

#career-content .job-title-sub {
  font-size: 0.9em;
  color:darkgrey
}


#career-content .job-title:hover {
  /*border-bottom:none !important;*/
  cursor: pointer;
  color:#ff9900;
}


/*About Content ( About )*/

#about-content .about-content-left{
  width:100% !important;
  padding-top:5px;
  padding-right:10% !important;
  margin-bottom: 10%;
}

#about-content .about-content-right{
  width:100% !important;
  padding-top:5px;
  padding-left:10% !important;
  margin-bottom: 10%;
}

#about-content .funding-title {
  font-size: 1.7em;
  color:#ff9900;
  font-weight: bold;
}

#about-content .funding-title-sub {
  font-size: 0.9em;
  color:black
}

#about-content img {
  width: 90%;
  max-width:350px;
}


#about-content .team-photo {
  height:75px;
  width:75px;
  max-width:75px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  box-shadow: 1px 2px 3px #666C6F;
  margin: 4px;
}

#about-content .team-photo:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  height:75px;
  width:75px;
}

/* Footer Section ( Footer )*/

footer {
    padding: 20px 20px 0px 20px;
    /*background: url('../img/footer.jpg');*/
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

footer ul {
  list-style: none !important;
  text-align: left;
  padding-left: 0px !important;
}

footer ul li a {
  font-size: 1em;
  color: #666C6F !important;
}

footer a:hover {
  color: #ff9900 !important;
  text-decoration: none;
}

footer .trial-button {
    overflow: hidden !important;
    margin: 40px 0;
}
footer .open-blink {
    content: ' ';
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: #4caf50;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
footer .open-blink:before {
    content: ' ';
    position: absolute;
    top: -8px;
    left: -8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.1;
    border-radius: 50%;
    background-color: #4caf50;
}
footer .opening-hours {
    margin-top: 60px;
}
footer .bottom-footer {
    margin-top: 30px;
}
footer .social-footer {
    padding: 0;
    list-style: none;
}
footer .social-footer li {
    display: inline-block;
    margin: 0 10px;
}
footer .social-footer li a {
    font-size: 18px;
    color: #fff;
}
footer .social-footer li:hover a {
    color: #ff9900;
}
footer .title {
    color: #000 !important;
    padding-left: 0px;
    text-align: left;
    font-size: 1.1em;
    font-weight: 500;
}

footer .mailto{
  color:#C72728;
  font-weight:700
}

footer .mailto:hover {
  color:#ff9900
}
