@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,400');

body {
  width:100%;
  min-height:100vh;
  height:auto;
  background: linear-gradient(rgba(0, 0, 255, 0.05), rgba(0, 0, 0, 0.50)
  ), url("../img/tournaments/bg2.jpg") !important;
  background-size: cover;
}

.elem-centered {
  text-align: center;
}

.ss-signup {
  margin-top:20%;
  width:628px;
  height:353px;
  display: inline-block;
  /*border-radius: 5px;*/
  box-shadow: 2px 3px 3px #070707;
}

.ss-signup .left {
  padding:20px;
  height:353px;
  background: rgba(7, 7, 7, 0.9);
  /*display: block;*/
}
.ss-signup .left img {
  margin-top: 25px;
  width:135px;
}
.ss-signup .right {
  padding:20px;
  height:353px;
  background: rgba(40,43,48,.75);
  /*background: rgba(150,150,150,1);*/
}
.ss-signup .right .title {
  /*width:250px;*/
  font-size:30px;
  color:#fff;
}
