
/*@Import fonts using @import*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,400');

/*Bootstrap Inheritage Custimized*/

.container {
  /*padding-left: 30px !important;*/
  /*padding-right: 30px !important;*/
}

section {
    position: relative;
}
.section {
    padding: 40px 0;
    background: #000000;
}
.section-padded {
    padding: 100px 0 40px;
}


/*Color Helper Class ( Helper )*/

orange {
  color: #ff9900;
}

red {
  color: #C72728;
}


/*Position Helper Class ( Helper )*/

.max-height-50 {
  height: 50px;
  max-height:50px;
}

.max-height-100 {
  height: 100px;
  max-height:100px;
}

.max-height-150 {
  height: 150px;
  max-height:150px;
}

/*Body Section ( Body )*/

body {
  font-family: 'Raleway' ,'Roboto', sans-serif, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #2a3237;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding: 0px 25px 0px 25px;*/
}


/*Header Section ( Header )*/
header {
    position: relative;
    width: 100%;
    height:705px;
    display: block;
    color: white;
    background: linear-gradient(
      rgba(0, 0, 255, 0.05),
      rgba(0, 0, 0, 0.99)
    ),
    url('../img/main/header.jpg');
    background-size: cover;
    border-bottom: 10px solid #ff9900;
}

header .table {
    display: table;
    height: 100%;
    padding-top: 170px;
}
header .container {
    height: 100%;
}
header .header-text {
    display: block;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 30%;
}

header .header-demo{
  vertical-align: bottom;
  display: block;
  text-align: center;
  height: 70%;
}

header .header-demo img{
  vertical-align: bottom;
}

/* Page caption ( Caption )*/
header .caption {
  font-size: 3.6em;
  font-weight: 700;
  text-transform: uppercase;
  /*margin-top:-170px;*/
  text-shadow: 1px 1px 1px #000;

}

header .video-btn {
  font-size: 1.4em;
  width: 280px;
  font-weight: 700;
  border-radius: 0px !important;
  background: #ff9900;
  border: 1px #000 solid !important;
  text-transform: uppercase;
  /*margin-top:-170px;*/
}

header .video-btn:hover {
  background: #f7c06f;
}


header .alpha-btn {
  font-size: 1.4em;
  width: 200px;
  font-weight: 700;
  border-radius: 0px !important;
  background: #c72728;
  border: 1px #000 solid !important;
  text-transform: uppercase;
  /*margin-top:-170px;*/
}

header .alpha-btn:hover {
  background: #bc5151;
}


/* Navigation Bar ( Navbar )*/
nav.navbar {
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.55);
}

nav.navbar ul{
  display: inline-block !important;
  list-style-type: none;
}

nav.navbar li a {
    padding: 18px !important;
    font-weight: 700;
    text-transform: uppercase !important;
    color: #ffffff
}
nav.navbar li a:hover {
    color: #ff9900 !important;
    background: transparent;
}
nav.navbar .navbar-nav li.active a:not(.btn) {
    color: #ff9900 !important;
}
nav.navbar-fixed-top {
    z-index: 9499;
    top: 0;
    padding: 25px 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
nav.navbar-fixed-top .navbar-nav> li> a:not(.btn) {
    color: #bbb;
}

nav.navbar-brand img {
  width:10% !important;
}


nav.navbar .navbar-nav {
  float:none !important;
  text-align: center !important;
}

.navbar-collapse{
  text-align: center !important;
}

.icon-bar {
    background: #bbb;
}

.language-wrap {
  float:right;
}

.language-flag {
    height: 22.5px;
}
.language-selector {
    margin-left: 0px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}
.first {
    margin-right: -25px;
}
.language-selector:hover {
    cursor: pointer;
    cursor: hand;
}

.languages {
  text-align: right;
}

/*Alpha-signup Section ( Alpha-signup )*/
#alpha-signup {
  /*height:300px;*/
}

/*Intro Section ( Intro )*/
#intro {
  padding: 50px 60px 50px 60px !important;
}

#intro img {
  display: inline-block;
  width:30%;
  margin: 5px 0px 10px 0px;
}

.intro-slogan {
 text-transform: uppercase;
 font-size: 2.6em;
 font-weight: 700;
 margin-top:10px;
 margin-bottom:30px;
 text-shadow: 1px 1px 1px #a5a5a5;
}

 .intro-title {
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 700;
  margin-top:15px;
  margin-bottom:35px;
}

.icon-text{
  /*width:30%;*/
  margin-top:5px;
  display:inline-block;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
}


/*Media Section ( Media )*/
#media {
  padding: 50px 60px 50px 60px !important;
  background: linear-gradient(
    rgba(255, 0, 0, 0.05),
    rgba(0, 0, 0, 0.99)
  ),
  url('../img/main/header.jpg');
  height:135px;
  box-shadow: 2px 2px 2px black;
  /*vertical-align: middle;*/
}

#media img {
  width: auto;
  max-width: 125px;
  max-height: 50px;
}

/*Info Section ( Intro )*/

#info {
  padding: 50px 60px 50px 60px !important;
}

#info img {
  display: inline-block;
  width:30%;
  margin: 5px 0px 10px 0px;
}

#info .grey-button {
  border-radius: 5px;
  border: 3px solid lightgrey;
  font-size: 1.0em;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  color:black;
}

#info .grey-button:hover {
  background: #ff9900;
  color:#fffaaa;
  border: 3px solid #ff9900;
}

/*Mission Section ( Mission )*/
#mission {
  padding: 0px 60px 50px 60px !important;
}
#mission img {
  display: inline-block;
  width:65%;
  margin: 15px 0px 10px 0px;
}

/*Mission Section ( Mission )*/
#news {
  padding: 0px 60px 50px 60px !important;
}
#news img {
  display: inline-block;
  width:85%;
  height:auto;
  max-height: 160px;
  margin: 15px 0px 10px 0px;
  box-shadow: 2px 2px 3px black;
  /*position: absolute;*/
  /*clip: rect(0px,10px,160px,0px);*/
}

#news .intro-title {
  text-align: center;
  display: inline-block;
  /*width:100%;*/
  margin: 15px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 700;
  margin-top:15px;
  margin-bottom:35px;
}

#news .news-text {
  width:85% !important;
  text-align: left;
  /*margin-top:5px;*/
  display:inline-block;
  text-transform: uppercase;
  font-size: 1.0em;
  font-weight: 700;
  padding-bottom: 5px;
}

#news .news-wrapper {
  padding: 0px 60px 0px 60px !important;
}

#news a {
  width:85% !important;
  text-align: left;
  /*font-size: 0.8em;*/
  display:inline-block;
}

#news p {
  width:85% !important;
  text-align: left;
  font-size: 0.8em;
  display:inline-block;
}


/*Dropdown language Section*/

#country-select {
	position: absolute;
	top: 13px;
	right: 0;
	width: 180px;
	}

/* rought form styles for when JS is disabled */

#country-select form {
	width: 180px;
	padding: 0;
	}

#country-select select,
#country-select input {
	display: inline;
	padding: 0;
	margin: 0;
	}

/* JS-created definition list */

.dropdown dd { position: relative; }

.dropdown a {
	text-decoration: none;
	outline: 0;
	font: 12px Arial, Helvetica, sans-serif;
	display: block;
	width: 130px;
	overflow: hidden;
	}

.dropdown dt a {
	background: #c45618;
	border: 1px solid #964315;
	padding: 3px 10px 4px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	}

	.dropdown dt a.active {
		background: #db5e18;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px dotted #676768;
		-moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
		-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
		box-shadow: 0 3px 7px rgba(0,0,0,.5);
		color: #fff;
		}

.dropdown dd ul {
	background: #814f33;
	border: 1px solid #676768;
	color: #C5C0B0;
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	padding: 2px 0 5px 0;
	list-style: none;
	border-top: none;
	margin: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
	box-shadow: 0 3px 7px rgba(0,0,0,.5);
	}

	.dropdown dd ul li a {
		padding: 2px 10px;
		}

	.dropdown dd ul li a span,
	.dropdown dt a span {
		float: left;
		width: 16px;
		height: 11px;
		margin: 2px 6px 0 0;
		background-image: url(flags.png);
		background-repeat: no-repeat;
		cursor: pointer;
		}

		.us a span { background-position: 0 0 }
		.uk a span { background-position: -16px 0 }
		.fr a span { background-position: -32px 0 }
		.de a span { background-position: -48px 0 }
		.nl a span { background-position: -64px 0 }

	.dropdown dd ul li a em,
	.dropdown dt a em {
		font-style: normal;
		float: left;
		width: 100px;
		cursor: pointer;
		}

	.dropdown dd ul li a em {
		color: #dbc3b5;
		}

		.dropdown dd ul li a:hover { background-color: rgba(255,255,255,.1); }
		.dropdown dd ul li a:hover em { color: #fff; }



/* Footer Section ( Footer )*/

footer {
    padding: 20px 20px 0px 20px;
    /*background: url('../img/footer.jpg');*/
    background: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

footer ul {
  list-style: none !important;
  text-align: left;
  padding-left: 0px !important;
}

footer ul li a {
  font-size: 1em;
  color: #666C6F;
}

footer a:hover {
  color: #ff9900;
  text-decoration: none;
}

footer .trial-button {
    overflow: hidden !important;
    margin: 40px 0;
}
footer .open-blink {
    content: ' ';
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: #4caf50;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
footer .open-blink:before {
    content: ' ';
    position: absolute;
    top: -8px;
    left: -8px;
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.1;
    border-radius: 50%;
    background-color: #4caf50;
}
footer .opening-hours {
    margin-top: 60px;
}
footer .bottom-footer {
    margin-top: 30px;
}
footer .social-footer {
    padding: 0;
    list-style: none;
}
footer .social-footer li {
    display: inline-block;
    margin: 0 10px;
}
footer .social-footer li a {
    font-size: 18px;
    color: #fff;
}
footer .social-footer li:hover a {
    color: #ff9900;
}
footer .title {
    color: #000 !important;
    padding-left: 0px;
    text-align: left;
    font-size: 1.1em;
    font-weight: 500;
}

footer .mailto{
  color:#C72728;
  font-weight:700
}

footer .mailto:hover {
  color:#ff9900
}





/* Modal Section ( Modal )*/

promoVideo {
  z-index: 1000000;
}
promoVideo .modal-content {
  background: rgba(0, 0, 0, 0.5) !important;
}

promoVideo .body {
  background: none !important;
}

promoVideo .modal-dialog {
  background: rgba(0, 0, 0, 0.5) !important;
}

/***** MODAL PROPERTIES *****/
.modal-cont {
  -webkit-box-shadow: none;
  box-shadow: none;
  background:transparent;
  border:none;
  outline:none;
}
.modal-cont iframe {
  border:none;
  padding:0;
  margin:0;
  width: 800px !important;
  height: 451px !important;
  z-index: 10000;
}
.close {
  font-size: 80px;
  margin:-20px 0 0 0;
}

/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-bod {
        height:200px;
        position: relative;
        padding:0;
    }
    .modal-cont {
        padding:0;
        margin: 0;
    }
    .modal-dial {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }

}


@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        font-size: 30px;
        color: white;
        margin:30px -43px -20px 100px;
    }

    .footer-mobile {
        padding-left:140px !important;
    }
}




/*Mobile Optimization Section*/

/*@media ipad, galaxy optimization*/
@media(max-width:991px) {

  header {
    height:700px !important;
    max-height:800px;
    /*padding: 0 0 0 0 !important;*/
  }

  .header-demo {
    /*display: block;*/
    position:relative;
    text-align: center;
  }

  .header-demo img {
    width:100%;
    margin-top:10px;
    position:absolute;
    bottom:0px;
    display: block;
  }

  .navbar-brand img {
    margin-top:25px;
    width: 100px;
  }

  .video-btn,.alpha-btn {
    width:300px !important;
    font-size: 1.5em !important;
    margin:2px;
  }

  p {
    font-size: 0.6em;
  }
  .caption {
    font-size: 40px !important;
  }

  #info,#intro,#mission,#news,footer {
    padding: 30px 10px 5px 10px !important;
  }

  #media {
    height:auto;
    max-height: 500px;
    padding: 30px 10px 5px 10px !important;
    /*display: table-cell;*/
  }

  #media img {
    padding:9px;
  }

  /*footer img {
    width:20%;
  }*/

  #info .grey-button {
    margin-bottom:15px !important;
  }

  #mission img {
    width: 80%;
  }

  #mission p {
    font-size: 0.7em !important;
  }

  footer img{
    width:45% !important;
  }
}

.modal-cont iframe {
  width: 800px !important;
  height: 451px !important;
}

.modal-bod {
    height:451px;

}

.footer-mobile {
    padding-left:80px !important;
}

}




/*@media Mobile, iPhone, Galaxy Optimization*/
@media(max-width: 768px) {

  header {
    height:650px !important;
    max-height:700px;
  }

  .navbar-brand img {
    width:100px !important;
    max-width:100px;
  }

  #bs-example-navbar-collapse-1 {
    background: black;
    border-top: 3px solid #ff9900;
    border-bottom: 3px solid #ff9900;
    margin-top:100px;
  }

  .video-btn,.alpha-btn {
    width:300px !important;
    font-size: 1.5em !important;
    margin:2px;
  }

  .header-demo {
    /*display: block;*/
    position:relative;
    text-align: center;
  }
  .header-demo img {
    width:100%;
    margin-top:10px;
    position:absolute;
    bottom:0px;
    display: block;
  }

  .intro-slogan {
    font-size: 2.0em;
  }

  #info .grey-button {
    margin-bottom:15px !important;
  }

  #media {
    height:auto;
    max-height: 500px;
    padding: 30px 10px 5px 10px !important;
  }

  #media img {
    padding:9px;
  }

  #mission p {
    font-size: 0.7em !important;
  }

  footer img{
    width:35% !important;
  }

  .footer-mobile {
      padding-left:140px !important;
  }
  .modal-cont iframe {
    width: 576px !important;
    height: 325px !important;
  }

  .modal-bod {
      height:325px;

  }
}

/*@ media iP plus size*/
@media(max-width: 450px) {
  .modal-cont iframe {
    width: 350px !important;
    height: 197px !important;
  }
  .modal-bod {
      height:197px;
  }
}


/*@media smaller device, old iphone 4 Optimization*/
@media(max-width: 400px) {

  header {
    height:650px !important;
    max-height:700px;
  }

  .navbar-brand img {
    width:80px !important;
    max-width:100px;
  }


  .footer-mobile {
      padding-left:140px !important;
  }

  .modal-cont iframe {
    width: 350px !important;
    height: 197px !important;
  }

  .modal-bod {
      height:197px;

  }

  #bs-example-navbar-collapse-1 {
    background: black;
    border-top: 3px solid #ff9900;
    border-bottom: 3px solid #ff9900;
    margin-top:100px;
  }

  .caption {
    font-size: 39px !important;
  }

} /*} smaller screens*/


/* Modal overrides */

.middle {
  text-align: center;
  padding: 0!important;
}

.middle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.middle > .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
