@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:300,400');

body {
  width:100%;
  min-height:100vh;
  height:auto;
  background: linear-gradient(rgba(0, 0, 255, 0.10), rgba(0, 0, 0, 0.25)
  ), url("../img/tournaments/bg2.jpg") !important;
  background-size: cover;
}

.text-bright {
  color:#fff;
}

.elem-centered {
  text-align: center;
}

.ss-signup {
  margin-top:17.5%;
  width:628px;
  height:570px;
  display: inline-block;
  /*border-radius: 5px;*/
  box-shadow: 2px 3px 3px #070707;
}

.ss-signup .left {
  padding:25px 25px 25px 25px ;
  height:100%;
  background: rgba(7, 7, 7, 0.60);
  /*display: block;*/
}
.ss-signup .left img {
  margin-top: 25px;
  width:135px;
}
.ss-signup .right {
  padding:25px 30px 25px 30px ;
  height:100%;
  background: rgba(40,43,48,.75);
  /*background: rgba(150,150,150,1);*/
}
.ss-signup .right .title {
  /*width:250px;*/
  padding:5px 0px 5px 0px;
  text-transform: uppercase;
  font-size:25px;
  color:#fff;
}

.ss-signup .right p {
  color:#99aab5;
  font-size: 14px;
  font-weight: bold;
}

.ss-signup .form-group {
  text-align: left;
}
.form-group label {
  color:#87909c;
}
.form-control {
  background: transparent;
  border:none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 0px;
  color: grey;
}
.form-control:hover {
  border-bottom: 2px solid #fff;
}

.button-section {
  margin-top:25px;
}
.ss-register {
  width:100%;
  background: #ff9900;
  color:#fff;
  font-size:18px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
}
.ss-register:hover {
  background: #ffa319;
  color:#fff;
}
