<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstBlood | About us</title>
    <meta name="description" content="A platform that lets Esports players challenge the field and win rewards.Made possible by smart contracts and oracles in the blockchain." />
    <meta name="keywords" content="Tournaments, FirstBlood, First Blood, cryptocurrency, ethereum, ether, rewards, competition, Esports, League of Legends, Play Esports, Call of Duty, FIFA, Hearthstone" />

    <!-- FirstBlood Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../resources/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../resources/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../resources/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../resources/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../resources/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../resources/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../resources/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../resources/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../resources/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../resources/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../resources/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../resources/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Bootstrap css -->
    <link href="/resources/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- FirstBlood main.home css -->
    <link href="/resources/css/main-career.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/resources/img/main/logo_shield.png" data-active-url="/resources/img/main/logo-active.png" alt="" width = "10%"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-mid main-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#info">Read More</a></li>
          <li><a href='https://community.firstblood.io'>Community</a></li>
          <li><a href = "https://goo.gl/xxm5Bm"><i class="fa fa-file-text-o" aria-hidden="true"></i> White Paper</a></li>
          <li><a href = "http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
        </ul>
        <!-- <div class = "language-wrap">
          <li><div class="language-selector first" ng-click="changeLanguage('en')"><img src="/resources/img/main/us.svg" class="language-flag" /> EN</div></li>
          <li><div class="language-selector" ng-click="changeLanguage('cn')"><img src="/resources/img/main/cn.svg" class="language-flag" /> 中文</div></li>
        </div> -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header id = "career-header">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class = "caption">LEARN MORE ABOUT <br/>FIRSTBLOOD </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id = "selector">
    <div class="container">
      <div class="table">
        <div class="row mobile-row">
          <a href = "/about" class="col-md-1 col-sm-1 col-md-offset-4 col-sm-offset-4 selector-item active mobile-select">About</a>
          <a href = "/careers" class="col-md-1 col-sm-1 selector-item mobile-select">Careers</a>
          <a href = "/press" class="col-md-1 col-sm-1 selector-item mobile-select">Press</a>
          <a href = "/media" class="col-md-1 col-sm-1 selector-item mobile-select">Media</a>
        </div>
      </div>
    </div>
  </section>

  <section id = "about-content">
    <div class="container">
      <div class="table">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class = "about-content-left">
              <p class = "sub-title">About us</p>
                <div class="col-md-6 col-sm-6" style = "padding-left:0px;">
                  <p>FirstBlood.io (“FirstBlood”) is a decentralized Esports gaming paltform that will allow individuals to test their skill and compete in 1v1 and team vs team matches for popular online games, such as League of Legends, Dota 2, and Counter-Strike: Global Offensive.</p>
                </div>
                <div class="col-md-6 col-sm-6">
                  <p><img src = "/resources/img/main/Esports-global.png"></p>
                </div>
                <div class="col-md-12 col-sm-12" style = "padding-left:0px;">
                  <p>We're a team of builders &#8212; engineers, gamers, and entrepreneurs <br> &#8212; who love what we do.<br><br>
                  We are here to build the <red>future gateway</red> for competitive Esports.
                </div>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class = "about-content-right">
                <p class = "sub-title">TEAM & ADVISORS</p>
                <img data-toggle="tooltip" title="Joe Zhou, CEO & Co-Founder" src = "/resources/img/main/members/joe_zhou_white_small.jpg" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Zack Coburn, Chief Architect & Co-Founder" src = "/resources/img/main/members/zack_coburn.jpg" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Anik Dang, Developer & Co-Founder" src = "/resources/img/main/members/anik_dang.jpg" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Marco Cuesta, Head of Business Dev & Co-Founder" src = "/resources/img/main/members/marco_cuesta.png" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Andrej Fodor, Lead Product Manager" src = "/resources/img/main/members/andrej_fodor.jpg" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Daniel Temkin, Legal Counsel" src = "/resources/img/main/members/daniel_temkin.png" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Mikko Ohtamaa, Tech & Security Advisor" src = "/resources/img/main/members/mikko_ohtamaa.png" class = "team-photo"></img>
                <img data-toggle="tooltip" title="Joey Krug, Tech Advisor" src = "/resources/img/main/members/joey_krug.png" class = "team-photo"></img>
                <img data-toggle="tooltip" title="George Popesu, Business & Operation Advisor" src = "/resources/img/main/members/george_popescu.png" class = "team-photo"></img>
                <!-- <img src = "" class = "team-photo"></img> -->
                <p class = "sub-title">FUNDING</p>
                <a class = "funding-title">5.5MM USD</a>
                <p class = "funding-title-sub">We raised a <a href = "https://www.crunchbase.com/organization/firstblood">5.5MM USD</a> seed round through a software product crowdsale on 09/26/2016. During the crowdsale, 79.10MM "1ST" tokens were created.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <hr>
 <!-- Footer starts here -->
 <footer class="page-footer center-on-small-only primary-color-dark text-center-mobile">

     <!--Footer Links-->
     <div class="container">
         <div class="row">

           <!--First column-->
           <div class="col-md-3 col-sm-3 col-md-offset-1 text-center-mobile">
               <!-- <h5 class="title" > -->
                <img src = "/resources/img/main/logo_shield_b.jpg" width="55%" height="auto">
                <p><a href="mailto:team@firstblood.io" class = "mailto">team@firstblood.io</a></p>
               <!-- <p>team@firstblood.io</p> -->
           </div>
           <!--/.First column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Second column-->
           <div class="col-md-2 col-sm-2 col-md-offset-1 text-center-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Company</h5>
               <ul>
                 <li><a href="/about" target='_self'>About us</a></li>
                 <li><a href="/careers" target='_self'>Careers</a></li>
                 <li><a href="/press" target='_self'>Press</a></li>
                 <li><a href='https://blog.firstblood.io' target ='_self'>Blog</a></li>
                 <!-- <li><a href="/legal" target='_self'> Site Terms </a></li> -->
                 <li><a href="/legal" target='_self'>Legal &amp; Policy</a></li>
               </ul>
           </div>
           <!--/.Second column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Third column-->
           <div class="col-md-2 col-sm-2 text-center-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Resources</h5>
               <ul>
                   <li><a href="/faq" target ='_blank'>FAQ</a></li>
                   <li><a target ='_blank' href="https://github.com/firstbloodio">GitHub</a></li>
                   <li><a target ='_blank' href="https://goo.gl/xxm5Bm">White Paper</a></li>
                   <li><a target ='_blank' href="https://github.com/Firstbloodio/brand_assets">Brand Assets</a></li>
                   <!-- <li><a target ='_blank' href="https://github.com/firstbloodio">GitHub</a></li> -->
                   <li><a target='_self' href="/sale">Crowdsale</a></li>
               </ul>
           </div>

           <!--Fourth column-->
           <div class="col-md-2 col-sm-2 text-center-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Social</h5>
               <ul>
                   <li><a target ='_blank' href="http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
                   <li><a target ='_blank' href="https://facebook.com/firstbloodio"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                   <li><a target ='_blank' href="https://community.firstblood.io"><i class="fa fa-comments" aria-hidden="true"></i> Forum</a></li>
                   <li><a target ='_blank' href="https://www.linkedin.com/company/10839777"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                   <li><a target ='_blank' href="https://twitter.com/firstbloodio"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                   <li><a target ='_blank' href="https://twitch.fb.io"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch </a></li>
               </ul>
           </div>
           <!--/.Fourth column-->

         </div>
     </div>
     <!--/.Footer Links-->
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-12">
          <p>&copy; 2016 All Rights Reserved <a href="https://firstblood.io">FirstBlood.io</a></p>
        </div>
      </div>
    </div>
  </footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resources/js/jquery-1.11.1.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<!-- jQuery translate -->
<script src="/resources/js/jquery.translate.js"></script>
<!-- Translations -->
<script src="/resources/js/app/translations.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-87275851-1', 'auto');
  ga('send', 'pageview');
</script>

</body>

</html>
