<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FirstBlood | Press Room</title>
    <meta name="description" content="An Esports platform that lets players challenge the field and win rewards. Made possible by smart contracts and oracles in the blockchain." />
    <meta name="keywords" content="Tournaments, FirstBlood, Esports, First Blood, cryptocurrency, ethereum, ether, rewards, competition, Dota2, League of Legends, Play Esports, Call of Duty, FIFA, Hearthstone" />

    <!-- FirstBlood Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="../resources/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../resources/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../resources/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../resources/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../resources/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../resources/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../resources/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../resources/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../resources/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../resources/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="../resources/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../resources/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap css -->
    <link href="/resources/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- FirstBlood main.home css -->
    <link href="/resources/css/main-career.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="/resources/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body>

  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/resources/img/main/logo_shield.png" data-active-url="/resources/img/main/logo-active.png" alt="" width = "10%"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-mid main-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#info">Read More</a></li>
          <li><a target ='_blank' href='https://community.firstblood.io'>Community</a></li>
          <li><a target ='_blank' href = "https://goo.gl/xxm5Bm"><i class="fa fa-file-text-o" aria-hidden="true"></i> White Paper</a></li>
          <li><a target ='_blank' target ='_blank' href = "http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
        </ul>
        <!-- <div class = "language-wrap">
          <li><div class="language-selector first" ng-click="changeLanguage('en')"><img src="/resources/img/main/us.svg" class="language-flag" /> EN</div></li>
          <li><div class="language-selector" ng-click="changeLanguage('cn')"><img src="/resources/img/main/cn.svg" class="language-flag" /> 中文</div></li>
        </div> -->
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header id = "career-header">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class = "caption">WE ARE <br/>IN THE NEWS </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id = "selector">
    <div class="container">
      <div class="table">
        <div class="row mobile-row">
          <a href = "/about" class="col-md-1 col-sm-1 col-md-offset-4 col-sm-offset-4 selector-item mobile-select">About</a>
          <a href = "/careers" class="col-md-1 col-sm-1 selector-item mobile-select">Careers</a>
          <a href = "/press" class="col-md-1 col-sm-1 selector-item active mobile-select">Press</a>
          <a href = "/media" class="col-md-1 col-sm-1 selector-item mobile-select">Media</a>
        </div>
      </div>
    </div>
  </section>

  <section id = "press-content">
    <div class="container">
      <div class="table">
        <p class = "sub-title">PRESS COVERAGE</p>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class = "press-content-left">
              <!-- EconoTimes , 10/21/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "http://www.econotimes.com/firstblood-to-launch-alpha-version-of-esports-platform-360038"><img src = "/resources/img/main/press/econotimes.svg" style = "width:15%;"></img></a><span class = "press-date">  October 21, 2016</span></p>
                <a href = "http://www.econotimes.com/firstblood-to-launch-alpha-version-of-esports-platform-360038" class = "press-title">FirstBlood to Launch Alpha Version of Esports Platform in Decemeber</a>
                <p>For the upcoming TestNet launch, anyone signed up on Firstblood’s Slack channel at slack.firstblood.io as well as those signed up at the company’s official site — done by entering an email address — will be able to participate. There are close to 850 users currently signed up at FirstBlood’s slack channel.</p>
              </div>
              <!-- Venturebeat , 09/27/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "http://venturebeat.com/2016/09/27/blockchain-fundings-heat-up-5-million-in-5-minutes/"><img src = "/resources/img/main/press/logo_venturebeat.png" style = "width:15%;"></img></a><span class = "press-date">  September 27, 2016</span></p>
                <a href = "http://venturebeat.com/2016/09/27/blockchain-fundings-heat-up-5-million-in-5-minutes/" class = "press-title">Public blockchain investments heat up: $5 million in 5 minutes</a>
                <p>But in 2016 alone, we’ve seen three extremely fast blockchain-startup fundraises based on the sale of their native digital tokens: Lisk (LSK) raised over $5 million in a month, Digix (DGD) raised over $5 million in 14 hours, and just yesterday, First Blood (1SŦ) raised over $5 million in less than five minutes. Each of these platforms is very much in its early stages.</p>
              </div>
              <!-- themerkle news, 09/26/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "http://themerkle.com/ethereum-based-Esports-platform-firstblood-raises-us5-5m-in-mere-minutes/"><img src = "/resources/img/main/press/themerkle.png"></img></a><span class = "press-date">  September 26, 2016</span></p>
                <a href = "http://themerkle.com/ethereum-based-Esports-platform-firstblood-raises-us5-5m-in-mere-minutes/" class = "press-title">Ethereum-based Esports Platform FirstBlood Raises US$5.5m in Mere Minutes</a>
                <p>The correlation between Esports and cryptocurrency seems to become more obvious every year. The developers of FirstBlood have been thinking along the same lines, as they wanted to create a cryptocurrency-oriented ecosystem for gaming. Building a decentralized app on top of Ethereum, which lets Esports players compete through a decentralized and autonomous platform, sounds like quite the undertaking.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class = "press-content-right">
              <!-- CCN , 11/20/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "https://www.cryptocoinsnews.com/firstblood-looks-reshape-esports-following-6-1m-crowdsale/"><img src = "/resources/img/main/press/cryptocoinsnews.png" style = "width:15%;background:none;"></img></a><span class = "press-date">  November 2, 2016</span></p>
                <a href = "https://www.cryptocoinsnews.com/firstblood-looks-reshape-esports-following-6-1m-crowdsale/" class = "press-title">FirstBlood Looks To Reshape eSports Following $6.1M Crowdsale</a>
                <p>FirstBlood noted its crowdsale raised $6.1 million in an exclusive announcement to CCN. The fundraising campaign has enabled the company to increase the size of its development team, as well as move its core team to a central location in Boston, MA.</p>
              </div>
              <!-- SBCnews , 11/02/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "http://www.sbcnews.co.uk/Esports-fantasy/2016/11/03/maestro-wins-manatt-digital-startup-launchpad/"><img src = "/resources/img/main/press/sbcnews.png" style = "width:15%;background:none;"></img></a><span class = "press-date">  November 2, 2016</span></p>
                <a href = "http://www.sbcnews.co.uk/Esports-fantasy/2016/11/03/maestro-wins-manatt-digital-startup-launchpad/" class = "press-title">FirstBlood Placed Second Place at Manatt Digital Startup Launchpad</a>
                <p>The other two finalists, Vantage Sports and firstblood.io, who missed out will have done themselves no harm by delivering similarly strong pitches to an audience of potential investors in the Esports and gambling industries.</p>
              </div>
              <!-- Bitcoin.com, 09/26/2016-->
              <div class="press-row text-center-mobile">
                <p><a href = "https://news.bitcoin.com/Esports-firstblood-raises-5-5m/"><img src = "/resources/img/main/press/bitcoin_logo.png" style = "width:18%;background:none;"></img></a><span class = "press-date">  September 26, 2016</span></p>
                <a href = "https://news.bitcoin.com/Esports-firstblood-raises-5-5m/" class = "press-title">Decentralized Esports Platform FirstBlood Raises $5.5M in Minutes</a>
                <p>Currently, organized Esports tournaments make up a multi-million dollar industry. For instance, this year, the Multiplayer Online Battle Arena (“MOBA”) and First­Person Shooter (“FPS”) genres have a collective revenue of $1.6 billion. With the U.S. and Europe leading the market last year, the global Esports economy pulled in $748 million. This industry is growing exponentially with revenue expected to stay in the billions annually.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <hr>
 <!-- Footer starts here -->
 <footer class="page-footer center-on-small-only primary-color-dark text-center-mobile">

     <!--Footer Links-->
     <div class="container">
         <div class="row">

           <!--First column-->
           <div class="col-md-3 col-sm-3 col-md-offset-1 text-center-mobile">
               <!-- <h5 class="title" > -->
                <img src = "/resources/img/main/logo_shield_b.jpg" width="55%" height="auto">
                <p><a href="mailto:team@firstblood.io" class = "mailto">team@firstblood.io</a></p>
               <!-- <p>team@firstblood.io</p> -->
           </div>
           <!--/.First column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Second column-->
           <div class="col-md-2 col-sm-2 col-md-offset-1 text-center-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Company</h5>
               <ul>
                 <li><a href="/about" target='_self'>About us</a></li>
                 <li><a href="/careers" target='_self'>Careers</a></li>
                 <li><a href="/press" target='_self'>Press</a></li>
                 <li><a href='https://blog.firstblood.io' target ='_self'>Blog</a></li>
                 <!-- <li><a href="/legal" target='_self'> Site Terms </a></li> -->
                 <li><a href="/legal" target='_self'>Legal &amp; Policy</a></li>
               </ul>
           </div>
           <!--/.Second column-->

           <!-- <hr class="hidden-md-up"> -->

           <!--Third column-->
           <div class="col-md-2 col-sm-2 text-center-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Resources</h5>
               <ul>
                   <li><a href="/faq" target ='_blank'>FAQ</a></li>
                   <li><a target ='_blank' href="https://github.com/firstbloodio">GitHub</a></li>
                   <li><a target ='_blank' href="https://goo.gl/xxm5Bm">White Paper</a></li>
                   <li><a target ='_blank' href="https://github.com/Firstbloodio/brand_assets">Brand Assets</a></li>
                   <li><a target='_self' href="/sale">Crowdsale</a></li>
               </ul>
           </div>

           <!--Fourth column-->
           <div class="col-md-2 col-sm-2 text-center-mobile footer-mobile footer-mobile" style = "text-align:left">
               <h5 class="title" >Social</h5>
               <ul>
                   <li><a target ='_blank' href="http://slack.firstblood.io/"><i class="fa fa-slack" aria-hidden="true"></i> Join Slack</a></li>
                   <li><a target ='_blank' href="https://facebook.com/firstbloodio"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                   <li><a target ='_blank' href="https://community.firstblood.io"><i class="fa fa-comments" aria-hidden="true"></i> Forum</a></li>
                   <li><a target ='_blank' href="https://www.linkedin.com/company/10839777"><i class="fa fa-linkedin-square"></i> LinkedIn</a></li>
                   <li><a target ='_blank' href="https://twitter.com/firstbloodio"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                   <li><a target ='_blank' href="https://twitch.fb.io"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch </a></li>
               </ul>
           </div>
           <!--/.Fourth column-->

         </div>
     </div>
     <!--/.Footer Links-->
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-12">
          <p>&copy; 2016-2017 All Rights Reserved
            <a href="https://firstblood.io">FirstBlood</a>
        </div>
      </div>
    </div>
  </footer>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/resources/js/jquery-1.11.1.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/resources/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
  <!-- jQuery translate -->
  <script src="/resources/js/jquery.translate.js"></script>
  <!-- Translations -->
  <script src="/resources/js/app/translations.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-87275851-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
